<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BonusProje.Properties.Settings.BonusOkulConnectionString"
            connectionString="Data Source=DESKTOP-A53JT4E\SQLEXPRESS;Initial Catalog=BonusOkul;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>